.verse {
  text-align: center;
  margin: 2em auto;
}

.verse-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.stanza {
  margin-bottom: 2em;
}

.line-numbered .verse-line {
  position: relative;
  counter-increment: verseline;
  padding-left: 3em;
}

.line-numbered.linenums-left .verse-line::before {
  content: counter(verseline);
  position: absolute;
  left: 0;
  width: 2.5em;
  text-align: right;
  opacity: 0.6;
}

.line-numbered.linenums-right .verse-line::after {
  content: counter(verseline);
  position: absolute;
  right: -3em;
  width: 2.5em;
  text-align: left;
  opacity: 0.6;
}
